html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

*,
:before,
:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.abs-pos, #bg, #wrapper, #click_through, #leaf, #logo, #copy-1, #copy-2, #lockup, #drawer, #drawer-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 600px;
  overflow: hidden; }

#bg {
  background: #569035; }

#wrapper {
  position: relative;
  visibility: hidden; }
  #wrapper.show {
    visibility: visible; }

#click_through {
  z-index: 999;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #000000; }

#leaf {
  background: url('../img/sprites-scdf4a2b000.png') 0 -1200px; }

#logo {
  background: url('../img/sprites-scdf4a2b000.png') 0 -2400px; }

#copy-1 {
  background: url('../img/sprites-scdf4a2b000.png') 0 0; }

#copy-2 {
  background: url('../img/sprites-scdf4a2b000.png') 0 -600px; }

#lockup {
  background: url('../img/sprites-scdf4a2b000.png') 0 -1800px; }

#drawer-bg {
  top: 180px; }
